.feynman__link {
    align-items: center;
    color: #2f80ed;
    position: absolute;
    right: 48px;
    top: 50%;
    text-align: center;
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    text-decoration: none;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.feynman__link:hover {
    opacity: .5;
    transition: .3s;
}